<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Seminar12.Properties.Settings.bd_connstring"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Maple\Documents\faculta\an2\sem2\paw\git\demo_bdaccess.accdb"
            providerName="System.Data.OleDb" />
        <add name="Seminar12.Properties.Settings.demo_bdaccessConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Maple\Documents\faculta\an2\sem2\paw\git\demo_bdaccess.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>